{% extends 'home.html' %}
{% load static %}

{% block title %}Download Data{% endblock %}
{% block main_content %}
<link rel="stylesheet" href="{% static 'css/download_members.css' %}">
<div class="download-container">
    <div class="card">
        <h2>Download Members Data</h2>
        <div class="member-count">
            {{ member_count }}
            <span class="label">Total Members</span>
        </div>
        <form method="get" action="{% url 'download_members_excel' %}">
            <button type="submit" class="download-btn" title="Download Members Data">
                <i class="fas fa-users"></i> Download Excel
            </button>
        </form>
    </div>
    <div class="card">
        <h2>Download Updestha Data</h2>
        <div class="member-count">
            {{ instructor_count|default:"0" }}
            <span class="label">Total Updestha</span>
        </div>
        <form method="get" action="{% url 'download_updestha_excel' %}">
            <button type="submit" class="download-btn" title="Download Updeshta Data">
                <i class="fas fa-user-tie"></i> Download Excel
            </button>
        </form>
    </div>
    <div class="card">
        <h2>Download Events Data</h2>
        <div class="member-count">
            {{ event_count|default:"0" }}
            <span class="label">Total Events</span>
        </div>
        <form method="get" action="{% url 'download_events_excel' %}">
            <button type="submit" class="download-btn" title="Download Events Data">
                <i class="fas fa-calendar-alt"></i> Download Excel
            </button>
        </form>
    </div>
    <div class="card">
        <h2>Download Event Attendance</h2>
        <div class="member-count">
            {{ event_attendance_count|default:"0" }}
            <span class="label">Total Attendance</span>
        </div>
        <form method="get" action="{% url 'download_event_attendance_excel' %}">
            <button type="submit" class="download-btn" title="Download Attendance Data">
                <i class="fas fa-clipboard-list"></i> Download Excel
            </button>
        </form>
    </div>
</div>
{% endblock %}