{% load static %}

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="login-container">
      <div class="login-avatar">
        <img src="{% static 'images/a.jpg' %}" alt="Logo" />
      </div>
      <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h3 style="text-align:center; color:#ff867c; font-family:'Inter', Arial, sans-serif; font-weight:500; font-size:1.5rem; letter-spacing:0.5px; margin-bottom:0.5rem; text-shadow:0 1px 4px rgba(229,57,53,0.07);">
          Vihangam Yoga Pune
        </h3>
        <h2>Member Login</h2>
        {% if message %}
        <div class="form-alert error" id="login-message">{{ message }}</div>
        {% endif %}

        <input type="text" id="username" name="username" placeholder="Username" />
        <input type="password" id="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
        <div class="form-links">
          <p class="forgot">
            <a href="{% url 'forgot_password' %}">Forgot Username / Password?</a>
          </p>
          <p class="register"><a href="{% url 'register_user' %}">New User? Register</a></p>
        </div>
      </form>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
  </html>